/*fonts*/
:root {
    --font-small: 16px;
    --font-medium: 18px;
    --font-large: 24px;
    --font-family: 'Helvetica Neue', 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
}

html, input, textarea {
    font-family: var(--font-family);
}

body {
    margin: 0;
    background: #c0cbda;

}

.body-text {
    font-size: var(--font-small);
}

.subtitle-text {
    font-size: var(--font-medium);
    font-weight: bold;
}

.subtitle-align {
    text-align: center;
}


.margin-space {
    padding: 20px 10px 0px 5px;
}

.title-text {
    font-size: var(--font-large);
    font-weight: bold;
}

/*Main Wrapper*/
.wrapper {
    font-size: 0;
}

/*Formatting options for body card - where content items are placed on index.php page*/
.body-card {
    background: #e8eee8;
    box-shadow: #696565;
    color: #4b4b4b;
    padding: 10px 10px 10px 10px;
    margin: 20px auto 0 20px;
    width: calc(50% - 20px - 20px - 10px);
    border-radius: 10px;
    display: inline-block;
    font-size: var(--font-small);
    vertical-align: top;
}

/*Formatting options for Title card area at the top of each web page*/
.title-card {
    background: #e8eee8;
    box-shadow: #696565;
    color: #498ea9;
    font-size: var(--font-large);
    text-align: center;
    padding: 20px 20px 20px 20px;
    width: auto;
    display: block;
    margin-bottom: 15px;
}

/*Styling and formatting for all HTML buttons*/
.page-button {
    color: white;
    background: #498ea9;
    font-weight: bold;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;font-size: medium;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    cursor: pointer;
    height: 80px;
    width: 160px;
    border: none;
    outline: none;
    transition: 0.25s;
    fill: #e8eee8;
}

/*Hover colour affect for all buttons*/
.page-button:hover {
background: #2f6174;
}


.dataPage-navbar {
    height: auto;
    width: 100%;
    text-align: center;
    position: relative;
    font-size: 0;
    margin: 20px auto 20px auto;
}

/*Styling and formatting for GitHub SVG icon logo within button on data.php page*/
.svg-button {
    padding: 10px 10px 10px 10px;
    width: 50px;
    height: 50px;
    vertical-align: bottom;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Center align formatting for wrapped content*/
.center-align {
    text-align: center;
    position: relative;
}